@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    color: #1b1b1b;
}

img {
    max-width: 100%;
    height: auto;
}

html {
    background-color: white;
}

main {
    min-height: 100vh;
}

p {
    text-align: justify;
}

body {
    font-family: "Space Grotesk", serif;
    background-color: #e1e1e1;
    max-width: 1024px;
    margin: auto;
    padding: 2rem;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}